@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
}

#chart {
    max-width: 760px;
    margin: 35px auto;
    opacity: 0.9;
}

#chart .apexcharts-tooltip {
    color: #fff;
    transform: translateX(10px) translateY(10px);
    overflow: visible !important;
    white-space: normal !important;
}

#chart .apexcharts-tooltip span {
    padding: 5px 10px;
    display: inline-block;
}

.apexcharts-tooltip {
    padding: 10px !important;
    top: 20px !important;

}
.mod {
    /*overflow: initial;*/
    /*height: 150vh;*/
}

